<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="about-icon"><i class="fas fa-question-circle"></i></h1>
				<h1 class="about-head">リアルタイム型 キャバクラPOS Yossyについて</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="introduction-box">
				<div class="introduction-box-in">
					<div class="introduction-head">
						<i class="far fa-lightbulb"></i>店内状況が一目でわかる
					</div>
					<div class="introduction-script">
						入店客数や、出勤キャスト人数、現在の売り上げなど、営業中に把握しておきたい情報を自動計算し一目で店内の状況、売れ行きを把握することができます
					</div>
				</div>
				<div class="introduction-box-in">
					<div class="introduction-head">
						<i class="far fa-lightbulb"></i>会計時のトラブル回避
					</div>
					<div class="introduction-script">
						電卓での計算では打ち間違いのリスクがありますが、事前に登録したデータをもとに自動計算を行い会計でのトラブルをなくします。また、カード併用払いや、ダンピング等の処理にも対応しています。
					</div>
				</div>
				<div class="introduction-box-in">
					<div class="introduction-head">
						<i class="far fa-lightbulb"></i>キャストの給料計算の時間が0に
					</div>
					<div class="introduction-script">
						時給計算やバック、日払いの処理など、面倒な給料計算を全て自動で行います。また、売り上げスライドにも対応しています。
					</div>
				</div>
				<div class="introduction-box-in">
					<div class="introduction-head">
						<i class="far fa-lightbulb"></i>情報の共有
					</div>
					<div class="introduction-script">
						スタッフと店内情報の共有ができます。あらかじめ登録したスタッフもweb上から店内の状況を確認できます。客引きとの連携にも非常に効果的です。
					</div>
				</div>
			</div>
		</div>
	</div>
</div>