<h1>カード併用会計</h1>
<p> カードで会計する分の金額を記入してください（半角数字のみ)</p>
<%= form_with model:@table,url: shop_table_and_carding_path(@shop.id,@table.id) do |f| %>
	<%= f.text_field :card_payment %>
	<%= f.submit "会計確認画面へ" %>
<% end %>